input:optional+span, textarea:optional+span, select:optional+span {
    display: none;
}
/* Quand un champs a la propriété required */
input:required+span, textarea:required+span, select:required+span {
     display: block;
     color : darkred;
     margin: 0 1rem;
}

/* input:valid, textarea:valid, select:valid {
    border : 2px solid green;
} */
/* 
input:invalid, textarea:invalid, select:valid {
    border : 2px solid darkred;
}   */

input:checked+label {
    color : orange;
}

input:enabled {
    /* Tout ce qui n'est pas disabled */
}

input:disabled{
    /* élément disabled */
}

input:read-only {
    background-color: lightseagreen;
}

input:focus, textarea:focus {
    /* outline: chartreuse solid 2px; */
    outline: none;
    background-color: lightcyan;
}