header {
    background-color: lightgray;
    height: 10vh; /* view height*/
    width: 100vw;   /*view width*/
}

nav {
    padding: 0 2rem;
    height: 100%;
}

nav li {
    margin: 0 1rem;
    list-style: none; /*Pour enlever les puces*/
}

nav a {
    color : rgb(187, 115, 26);
    text-decoration: none;
    padding-bottom : 0.4rem;
}

/* Quand le lien a déjà était visité*/
nav a:visited {
    color : transparent;
}
/* Quand on passe la souris sur le lien */
nav a:hover {
    border-bottom : 1px solid darkgreen;
}
/* Quand on clique sur le lien */
nav a:focus {
    color : rgb(98, 58, 9);
} 
/* works too */
/* nav a:active {
    color : rgb(98, 58, 9);
} */

footer {
    background-color: lightgray;
    height: 10vh;
    width: 100vw;
}


main {
    background-color: rgb(243, 234, 234);
    min-height: 80vh; /* Fera au minimum 80 mais si le contenu dépasse, ça fera plus */
    width: 80vw;
    margin : auto;
}

header img {
    height: 25px;
}



footer img {
    height: 25px;
}

.container {
    display : flex
}

.row {
    flex-direction: row ;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.box {
    width: 800px;
    height: 500px;
    background-color: brown;

    display: flex; /*Par défaut : direction = row */
    flex-direction: column;

    justify-content: space-around; /*axe principal*/
    align-items: center; /* axe secondaire */
}

.elem {
    width: 200px;
    background-color: chocolate;
    border : 1px solid black;
}

.elem1 {
    height: 100px;
    
}

.elem2 {
    height : 50px;
    padding : 10px

}

.img-medium {
    width: 20vw;
}

.cards {
    width: 100%;
    height: 50vh;
    background-color: whitesmoke;
}

.card {
    width: 25%;
    height: 90%;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;

    border-radius: 5% ;
}

.card img {
    width: 60%;
}

.card h2 {
    color : whitesmoke;
    font-size: 1.2rem;
    font-weight: bold;
}

.card p {
    color : whitesmoke;
}

.button {
    background-color: darkslateblue;
    color : lightblue;
    padding: 1rem 2rem;
    border : 1px solid darkslateblue;
    border-radius: 5%;
}

/* Style d'un button s'il a l'attribut disabled */
.button[disabled]{
    background-color: lightgrey;
    color : rgb(64, 60, 60);
    border : 1px solid rgb(64, 60, 60);
}

/* Hover : Quand on passe la souris dessus */
.button:hover {
    background-color: lightblue ;
    color : darkslateblue;
}

.card:hover {
    /* width: 30%; */
    /* height: 95%; */
    transform: scale(1.1);
    /* horizontal vertical smooth couleur */
    box-shadow: 0.5rem 0.8rem 0.5rem rgb(128, 81, 63) ;
    /* Si positif droite bas
        Si négatif gauche haut */
    /* box-shadow: -0.5rem -0.8rem 0.5rem rgb(128, 81, 63)  ; */
}

/* Focus : Quand on va selectionner un élément : ex rentrer dans un input */

/* Active : Au clic dessus */
.button:active {
    transform : scale(0.8)
}


/* Pseudo Classes child */

.courses {
    padding: 1rem;
}

.courses h2 {
     font-size: 2rem;
}

/* .courses-list li {
    padding: 1rem 1rem;
    border-bottom: 1px solid black;
} */

/* courses-list li:first-child -> Selectionne le premier élément de la liste */
/* Selectionne le dernier élément de la liste */
/* .courses-list li:last-child {
    border: none;
} */

/* pair */
/* .courses-list li:nth-child(even) {
    background-color: black;
    color : white;
} */

/* impair */
/* .courses-list li:nth-child(odd) {
    background-color: black;
    color : white;
} */

/* An+B 
    A -> Tous les combien ce sera répété
    B -> A partir de combien on commence
*/
/* Par exemple ici on commence à 1 et on répète tous les 3 éléments */
.courses-list li:nth-child(3n+1) {
    background-color: white;
}

/* Selectionne tous les éléments qui sont vides de contenu */
.courses-list li:empty {
    background-color: red;
}

h1 {
    font-size: 3rem;
}

/* Pour modifier le style de l'élément qui est actuellement la target de la page -> ancres */
h1:target {
    color : violet;
}

/* Not : négation -> vous pouvez mettre n'importe quel selecteur css, pseudo-classe etc */
/* Selectionne tous les li de la liste sauf le dernier */
.courses-list li:not(:last-child) {
    border-bottom: 1px solid black;
}   

/* Selectionne tous les p s'ils sont enfant unique de leur parent */
p:only-of-type {}
/* Selectionne tous les p qui sont premier enfant de leur parent */
p:first-of-type {}
/* Selectionne tous les p qui sont dernier enfant de leur parent */
p:last-of-type {
    background-color: lightseagreen;
}